.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background-color: #DED9D4;
  padding: 24px;
  border-radius: 16px;
  width: 90%;
  max-width: 320px;
  min-height: 150px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
}

.title {
  font-weight: bold;
  color: #171412;
  margin: 0;
//   margin-bottom: 8px;
}

.message {
  font-size: 16px;
  color: #171412;
  margin: 0;
}

.loginButton {
  background-color: #8A6E59;
  color: white;
  border: none;
  border-radius: 12px;
  padding: 12px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  margin-top: auto;

  &:hover {
    background-color: darken(#8A6E59, 5%);
  }
} 