body {
    font-family: 'Arial', sans-serif; /* 기본 폰트를 지정합니다 */
}

.password-reset-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    text-align: center;
    position: relative;
    margin-top: 50px;
  }
  
  .password-reset-container h2 {
    color: #333;
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }
  
  .input-group {
    margin-bottom: 1.5rem;
  }
  
  .input-group label {
    display: block;
    text-align: left;
    color: #333;
    margin-bottom: 0.5rem;
  }
  
  .input-group input {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: block;
    box-sizing: border-box;
  }
  
  .input-group input[type="email"] {
    margin-bottom: 1.5rem;
  }
  
  .verify-button, .reset-button {
    width: 100%;
    padding: 0.8rem;
    margin-top: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .verify-button {
    background-color: #4CAF50;
    color: white;
  }
  
  .reset-button {
    background-color: #4CAF50;
    color: white;
  }
  
  .verify-button:hover, .reset-button:hover {
    opacity: 0.9;
    transition: opacity 0.3s ease;
  }
  
  .verify-button:active, .reset-button:active {
    transform: scale(0.98);
  }
  